################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/v15/Server/sqlite3
/ConsoleApp1/.vs/pratica/v15/Server/sqlite3
